*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#ddd;
  font-family:Arial, Helvetica, sans-serif;
}

.container{
  width:980px;
  margin:auto;
  background:white;
}

.topo{
  height:90px;
  background:#1c2227;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
}

.logo-area{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo-icone{
  width:40px;
  filter: brightness(0) invert(1);
}

.logo-texto h1{
  color:#2bb7eb;
  font-size:25px;
  font-style:italic;
  font-weight:normal;
  line-height: 1;
}

.logo-texto p{
  color:white;
  font-size:22px;
  font-style:italic;
  line-height: 1;
}

/* menu */
.menu{
  display:flex;
  gap:22px;
}

.menu a{
  text-decoration:none;
  color:white;
  font-size:13px;
  padding-right:18px;
  border-right:1px solid #777;
}

.menu a:last-child{
  border:none;
}

.menu a:hover{
  color:#2bb7eb;
}

/* banner */
.banner{
  height:495px;
  background-image:url("../img/barcoprincipal.jpg");
  background-size:cover;
  background-position:center;
  position:relative;
}

.texto-banner{
  position:absolute;
  right:65px;
  top:210px;
  width:420px;
  background:rgba(28, 34, 39, 0.85); /* Tom escuro idêntico ao cabeçalho com transparência */
  padding:35px;
  color:white;
}

.texto-banner h2{
  font-size:24px;
  font-style:italic;
  font-weight:normal;
  line-height:1.4;
  margin-bottom:25px;
}

.telefone-banner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.mini-barco-fone {
  width: 20px;
  margin-top: 3px;
  filter: brightness(0) invert(1); /* Deixa o barquinho 2 branco */
}

.telefone-banner p{
  font-size:16px;
  font-style:italic;
  line-height:1.4;
}

.telefone-banner span{
  color:#d7b36a;
  font-size:18px;
}

.conteudo{
  display:flex;
  gap:35px;
  padding:35px;
}

.coluna{
  flex:1;
}

.titulo{
  padding:14px 14px 14px 50px; /* Espaço na esquerda para o ícone */
  font-size:24px;
  color:white;
  font-style:italic;
  margin-bottom:20px;
  position: relative;
  display: flex;
  align-items: center;
}

.destino{
  background:#22b6e8;
}
.destino::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 26px;
  height: 26px;
  background-image: url("../img/destino.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1); /* Garante que fique branco */
}

/* Inclusão do timão da nossa frota */
.frota{
  background:#c8b37c;
}
.frota::before {
  content: "";
  position: absolute;
  left: 14px;
  width: 26px;
  height: 26px;
  background-image: url("../img/nossafrota.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1); /* Garante que fique branco */
}

.coluna h3{
  font-size:20px;
  font-style:italic;
  font-weight:normal;
  margin-bottom:20px;
}

.coluna p{
  font-size:14px;
  line-height:1.6;
  margin-bottom:25px;
  color: #333;
}

.coluna img{
  width:100%;
  display:block;
}

.galeria{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
}

.galeria img{
  height:110px;
  object-fit:cover;
  width:100%;
}

.rodape{
  background:#e6e6e6;
  padding:25px 35px;
  font-size:13px;
  color:#444;
  border-top: 1px solid #dcdcdc;
}